<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>auth-form</title>
</head>
<body>

<main layout:fragment="content">
    <div class="flex items-center justify-center min-h-screen bg-gray-100">

        <div class="p-8 rounded-lg shadow-md w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg bg-white">

            <!-- Login Form -->
            <form method="POST">
                <div class="mb-4">
                    <label for="username" class="block text-gray-700 font-semibold">Username</label>
                    <input type="text" id="username" name="username" autofocus="autofocus"
                           class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"/>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-semibold">Password</label>
                    <input type="password" id="password" name="password"
                           class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"/>
                </div>
                <div>
                    <input type="submit" value="Log in"
                           class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 cursor-pointer"/>
                </div>
            </form>
        </div>

    </div>
</main>

</body>
</html>
