<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">online-shop</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="icon" th:href="@{/file/vite.svg}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/main.css" th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>

<header class="pb-6 bg-white lg:pb-0" th:replace="~{fragments/navbar.html}">
    <!-- Navbar fragment included here -->
</header>

<section class="mx-auto flex w-full max-w-7xl flex-1 flex-col px-4 pb-6 sm:px-6 lg:px-8" layout:fragment="content">
    <p>Default content, will be replaced by specific page content.</p>
</section>

</body>
</html>
