<header class="border-2">
    <div class="mx-auto flex max-w-7xl flex-col items-start gap-2 px-4 sm:flex-row sm:items-center sm:flex-wrap sm:px-6 md:flex-nowrap lg:px-8">
        <div class="sm:mr-auto">
            <nav aria-label="Main" class="relative z-10 flex max-w-max flex-1 items-center justify-center">
                <div style="position: relative;">
                    <ul class="group flex flex-1 list-none items-center justify-center space-x-1">
                        <li>
                            <a href="/">
                                <img alt="logo" width="100px" height="100px" th:src="@{/file/vite.svg}">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
